{% extends "base2.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block style %}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
{% endblock style%}


{% block head_title %} 
{{ instance.title }} | {{ block.super }} 
{% endblock head_title %}
{% load staticfiles %}




{% block content %}


<div class ='col-sm-7'>
<div class="panel panel-info">
{% if instance.image %}
	<img src='{{ instance.image.url }}' class='img-responsive' />
{% endif %}
</div>
<div class="well well-lg">

<!--<img src="{% static 'img/hiddenforum/originator.png'%}" height=30px;/ style="padding-left:25px; margin-right:30px">--> 
<div class="well well-lg" >

	<figure>
	<center>
    <img src='{% static 'img/hiddenforum/user.png'%}' style="padding-left:5px" height="64px" />
    <figcaption>[ {{ instance.user }} ]</figcaption>
    </center>
    <center><h3><strong>{{ title }}</strong></h3></center>
    </figure>
    
    
    
</div>
<p><center><strong>:<img src="{% static 'img/hiddenforum/content.png'%}" height=30px;/>:</strong></center><hr>
</p>
<center>
<p>
{{ instance.content | linebreaks }}
</p>
</center>
<br/>
<p align="right">{{ instance.timestamp }}</p>
</div>
</div>


<div class="col-sm-5">
<div>
	<p class = 'lead'>Comments</p>
	<form method = "POST" action = "."> {% csrf_token %}
		{{ comment_form | crispy }}
		<input type = 'submit' value = 'Post comment' class = 'btn btn-default'>
		<a href='/posts/{{ justname }}/hiddenforum/' type="button" class="btn btn-warning" style="margin-left:30px pull-right">Return To Forum
    </a>
	</form>
	<hr/>
<div><center><img src="{% static 'img/hiddenforum/thread.png'%}" height=30px;/></center></div>
	{% for comment in comments %}

	<blockquote>
		<p>{{ comment.content }}</p>
		<footer> via {{ comment.user }} | {{ comment.timestamp| timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s {% endif %} | {% endif %} <a class = 'comment-reply-btn' href ='#'>Reply </a> | <a class = '' href= '{{ comment.get_absolute_url }}'> Thread </a></footer>
		<div class = 'comment-reply' style ='display:none;'> 
			{% for child_comment in comment.children %}
				<blockquote>
				<p> {{ child_comment.content }} </p>
				<footer> via {{ child_comment.user }} | {{ child_comment.timestamp| timesince }} ago </footer>
				</blockquote>
			{% endfor %}

		<form method = "POST" action = "."> {% csrf_token %}
			{{ comment_form | crispy }}
			<input type = 'hidden' name='parent_id' value = '{{ comment.id }}'>
			<input type = 'submit' value = 'Reply' class = 'btn btn-default'>
		</form>
	</div>
	</blockquote>
	<hr/>
	{% endfor %}
</div>
</div>


{% endblock content %}