{% extends "base2.html" %}
{% load staticfiles %}
{% block style %}

h1{
     font-family:"Comic Sans MS", cursive, sans-serif;
}
#titles{
     font-family:"Comic Sans MS", cursive, sans-serif;
}

#pictureframe {
  float:right; // Reposition logo from the natural layout
  left: 75px;
  top: 0px;
  width: 100px;
  height: 100px;
  z-index: 2;
}
{% endblock style %}

{% block content %}


<div class="well well-lg"><center><h1>[ {{ slugtest }} ]</h1></center></div>




<div class="btn-group col-sm-5" >
<div class="panel panel-success">
      <div class="panel-heading">Add New Collaborators</div>
      <div class="panel-body">
          <form action="/posts/{{ justname }}/hiddenforum/add-collaborators/"  method="post">{% csrf_token %}
            <label for="recipient"></label>
            <input id="recipient" type="text" name="recipient" value="{{ recipient }}"> </input>
            <input type="submit" value="Add"></input>
        </form>
      </div>
      <p>{{ adderror }}</p>
</div>

  
     <div class="panel panel-danger">
      <div class="panel-heading">Remove Collaborators</div>
      <div class="panel-body">
          <form action="/posts/{{ justname }}/hiddenforum/remove-collaborators/"  method="post">{% csrf_token %}
            <label for="recipient"></label>
            <input id="recipient" type="text" name="recipient" value="{{ recipient }}"></input>
            <input type="submit" value="Remove"></input>
            </form>
      </div>
     <p>{{ removeerror }}</p>
 </div>

   <!--<div class="panel panel-default">
      <div class="panel-heading">Search</div>
      <div class="panel-body">
          <form method = 'get' action='/posts/{{ justname }}/hiddenforum/'>
            <input type = 'text' name = 'q' placeholder = 'Search posts'/>
            <input type = 'submit' value = 'Search' />
            </form>
      </div>
    </div>-->
    <div >

    <a href='/posts/{{ justname }}/hiddenforum/create' class="btn btn-primary pull-left" role="button">Create</a>
    <a href='/posts/{{ justname }}/hiddenforum/integrate/' type="button" class="btn btn-warning" style="margin-left:30px">
    Generate KickStarter Template
    </a>
    </div>
    <div class="panel panel-danger" style="margin-top:40px">
    <a href='/posts/{{ justname }}/hiddenforum/' type="button" class="btn btn-warning pull-left" style="margin-left:30px; margin-top:30px">
    Reload
    </a>

    <p style="margin-left:30px; margin-top:30px; margin-right:20px"><center>Posts not loading? </br>Click here to reload</center></p>
    </div>
</div>


<!--<div class = 'col-sm-6'>
<form action="/posts/{{ justname }}/hiddenforum/add-collaborators/"  method="post">{% csrf_token %}
    <label for="recipient">Add new collaborators: </label>
    <input id="recipient" type="text" name="recipient" value="{{ recipient }}">
    <input type="submit" value="Add">
</form>
</div>
<div class = 'col-sm-6'>
<form action="/posts/{{ justname }}/hiddenforum/remove-collaborators/"  method="post">{% csrf_token %}
    <label for="recipient">Remove collaborators: </label>
    <input id="recipient" type="text" name="recipient" value="{{ recipient }}">
    <input type="submit" value="Remove">
</form>
</div>-->




<div class = "col-sm-7" style="padding: 0 0 0 0">

{% for post in posts %}
<div class="row panel panel-success">
    <div class="well well-lg"id="pictureframe" style="padding: 10 10 10 10">
    {% if post.image %}
            <img style = "vertical-align;" src='{{ post.image.url }}' align ='right' class='img-responsive' />   
            {% endif %}
    </div>
    <div class = "panel-heading">
    <p id="titles">
    Question: <a href='/posts/{{ justname }}/hiddenforum/{{post.slug}}'> {{ post.title }}</a> </p> 

    <p align="right"> By: {{ post.user }}</p>
    </div>
    
    <div class="panel-body" style="padding: 0 0 0 0">
    <p class="pull-right"><small>{{ post.timestamp }} </small><a href='/posts/{{ justname }}/hiddenforum/{{post.slug}}' class="btn btn-primary" role="button">View</a> </p>
    </div>
</div>
{% endfor %}
<!--<div class="row">
    <div class="row">
        <div class="thumbnail" style="padding: 0 0 0 0">
        <div class="panel panel-success">
            <div class = "panel-heading">
            <div class="col-sm-10">
            <strong>Question:</strong><p> <a href='/posts/{{ justname }}/hiddenforum/{{post.slug}}'>{{ post.title }}</a>  </p>
            </div>
            <div class="col-sm-2">
            <p style="align-content:right"> By: {{ post.user }}</p> 
            </div>
            </div>

            {% if post.image %}
            <img style = "vertical-align; height:350px; width:350px" src='{{ post.image.url }}' align ='right' class='img-responsive' />
            <span style="">
                <div class = "panel-body">
                    <p>{{ post.content | linebreaks | truncatechars:120}} </p>
                </div>
            </span>
            
            {% else %}
                <div style = "padding-left:20px;">
                    <p>{{ post.content | linebreaks | truncatechars:120}} </p>
                </div>
            {% endif %}
            <table class = "table">
                <tr>
                    
                    <td>
                    <small>{{ post.timestamp }} </small>
                    <p><a href='/posts/{{ justname }}/hiddenforum/{{post.slug}}' class="btn btn-primary" role="button">View</a> </p>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </div>
</div>


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{page_request_var}}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{page_request_var}}={{ object_list.next_page_number }}&q={{ request.GET.q }}">next</a>
        {% endif %}
    </span>
</div>-->

</div>

{% endblock content %}