{% extends "base.html" %}

{% block jumbotron %}
_
{% endblock %}

{% block content %}

<h1>Cut and Paste the following:</h1>
<p>Invitation Request</p>
<p>"Author's name"</p>
<p>{{username}} has requested to join your idea" {{ justname }} "</p>
<a href='/messages/compose' class="btn btn-primary" role="button">Write An Invitation</a>
<!--<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div>
-->
{% endblock %}